body { font: 14px/1.5 Arial, Helvetica, sans-serif; }

div.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul, li, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.highlight { color: #f00; }

#header {
    text-align: center;
    padding: 8px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 3px #ccc;
}

#header p {            
    color: #888;
    text-decoration: underline;
}            

#content ul > li {
    padding: 12px;
    text-indent: 26px;
    margin-bottom: 10px; 
    border-bottom: 1px solid #ccc;
}