:host {
  width: 100vw;
  height: 100vh;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-page {
  min-width: 470px;
  max-width: 600px;
  background: #ffffff;
  padding: 40px;
}
